<launch>
    <include file="$(find ur_description)/launch/load_ur3e.launch" />

    <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher_gui" output="screen">
        <rosparam param="source_list">["alternative_input/joint_states"]</rosparam>
    </node>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find constrained_manipulability)/rviz/view_robot.rviz" />

    <include file="$(find constrained_manipulability)/launch/abstract_robot.launch">
        <arg name="root_link" value="base_link" />
        <arg name="tip_link" value="wrist_3_link" />
        <arg name="config" value="example_scene_ur3" />
        <arg name="mp_display" default="true" />
        <arg name="cmp_display" default="true" />
    </include>
</launch>