<launch>
    <arg name="config" default="example_scene_ur3"/>
    <arg name="root_link" default="base_link"/>
    <arg name="tip_link" default="wrist_3_link"/>
    <arg name="mp_display" default="false"/>
    <arg name="cmp_display" default="true"/>
    <arg name="show_debug_statements" default="false"/>
    <arg name="constraints_disabled" default="false"/>
    <arg name="samples" default="5"/>
    <arg name="deviation" default="0.05"/>

    <include file="$(find ur_description)/launch/load_ur3e.launch"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find constrained_manipulability)/rviz/view_robot.rviz"/>

    <node name="ik_example"
        pkg="constrained_manipulability"
        type="ik_example"
        respawn="false" output="screen"  clear_params="true" launch-prefix="">
        <rosparam file="$(find constrained_manipulability)/scene_config/$(arg config).yaml" command="load"/>
        <param name="root" type="string" value="$(arg root_link)"/>
        <param name="tip" type="string" value="$(arg tip_link)"/>
        <param name="show_cmp" type="bool" value="$(arg cmp_display)"/>
        <param name="show_mp" type="bool" value="$(arg mp_display)"/>
        <param name="ignore_constraints" type="bool" value="$(arg constraints_disabled)"/>
        <param name="debug_statements" type="bool" value="$(arg show_debug_statements)"/>
        <param name="num_samples" type="int" value="$(arg samples)"/>
        <param name="search_deviation" type="double" value="$(arg deviation)"/>
    </node>
</launch>