<?xml version="1.0" ?>
<launch>

 <include file="$(find sawyer_description)/launch/test_sawyer_description.launch.test"/>
 <include file="$(find constrained_manipulability)/launch/abstract_robot.launch">
    <arg name="root_link" value="base" />
    <arg name="tip_link" value="right_l6" />
    <arg name="config" value="example_scene1" />
    <arg name="mp_display" default="true"/>
    <arg name="cmp_display" default="true"/>
 </include>



</launch>
