<launch>

  <arg name="load_gripper" default="true" />

 <include file="$(find ur_description)/launch/view_ur5.launch"/>
 <include file="$(find ur_description)/launch/ur5_upload.launch"/>

 <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"

 name="joint_state_publisher_gui" output="screen">
  <rosparam param="source_list">["alternative_input/joint_states"]</rosparam>
 </node>

 <node name="test_robot_state_publisher" type="robot_state_publisher" pkg="robot_state_publisher" output="screen"/>



  <include file="$(find constrained_manipulability)/launch/abstract_robot.launch">
     <arg name="root_link" value="panda_link0" />
     <arg name="tip_link" value="panda_link7" />
     <arg name="config"   value="example_scene_fraka" />
     <arg name="mp_display" default="true"/>
     <arg name="cmp_display" default="true"/>
  </include>
</launch>
